{% extends "base.html" %}
{% block import %}
    <!--
        <link rel = "stylesheet" href = "/staticFiles/index.css">
    -->
{% endblock %}
{% block title%} Flask Graph Visualization {% endblock%}
{% block content%}
    <div class = "d-flex justify-content-center mt-2">
        <div class = "d-grid gap-2 text-center" style = "width: 800px;">
            <h1>Research paper citation graph generator</h1>
            <div>
                <a class="btn btn-primary" href="{{ url_for('regular') }}" role="button">Show regular pagerank</a>
                <a class="btn btn-primary" href="{{ url_for('weighted') }}" role="button">Show weighted pagerank</a>
            </div>
        </div>
    </div>
{% endblock %}