{% extends "base.html" %}
{% block import %}
    <link rel = "stylesheet" href = "/staticFiles/index.css">
{% endblock %}
{% block title%} Flask Graph Visualization {% endblock%}
{% block content%}
    <h1>Graph Info Visualization</h1>
        
    <form action = "#" method = "POST">
        <div class = "form-group mx-sm-3 mb-2 w-50">
            <input type = "text" class="form-control" name = "paper_id" id = "input_id" placeholder = "Enter an id to visualize the subgraph">
        </div>
        <button type = "submit" class= "btn btn-primary mx-sm-3 mb-2">Visualize Subgraph</button>
    </form>

    <br><br>

    <div class = "d-flex table-wrapper-scroll-y custom-scrollbar">
        <table class="w-50 p-3 table table-striped table-sm ">
            <thead class = "thead-dark">
                <tr>
                    <th class = "stick-position">Paper Id</th>
                    <th class = "stick-position">PageRank</th>
                    <th class = "stick-position">Citation Count</th>
                </tr>
            </thead>
            
            <tbody>
                {% for triple in triples %}
                <tr>
                    <td>{{triple[0]}}</td> 
                    <td>{{triple[1]}}</td>
                    <td>{{triple[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}